 /*  tag */
 * {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #1e87f0;
    min-width: 600px;
}

/*  id  */
#card-main-date {
    float: right;
    padding: 0px 20px;
}

#card-header {
    display: inline-block;
    width: 100%;
}

#card-header-title {
    display: inline-block;
}


#card-header-button {
    float: right;
}

#card-hide{
    display: none;
}

.inline-block{
    display: inline-block;
}

.main-card-filter{
    display: inline-block;    
    background-color: white;
    padding: 5px 20px;
    height: 38px;
    border-radius: 20px;
}
.uk-label-blue{
    background-color:#1e87f0;
}
.card-title-close{
    padding-left: 10px;    
}

h1{
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}
h2{
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}
h3{
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}
h4{
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}