* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'BMJUA';
    
}
h1{
    font-family: 'yg-jalnan';
    font-size: 70px;
    
}

h2{
    font-family:'BMJUA';
    
}
h3{
    font-family:'BMJUA';
   
}


#footer{
    background-color:#081b30;
    width: 100%;
    height: 200px;
    color:#fff;
    padding-bottom: 20px 0;
}   

.footer_inner{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    color: white;
    display: inline-block;
    
}
.footer_left{
    width: 33%;
    height: 200px;
    float: left;
    line-height: 200px;
    text-align: center;
    display: inline-block;
}
.footer_middle{
   
    width: 33%;
    height: 200px;
    float: left;
    height: 200px;
    padding: 20px 20px 20px 20px;
    line-height: 100px;

    
}
.footer_right{
    float: left;
    width: 33%;
    height: 200px;


}

#footer h2{
    color: #fff;
    text-align: right;
    display: inline;
    font-family: 'yg-jalnan';
}

.footer_icon{
    margin-right: 10px;
    color:#fff;
}

.footer_text{
    text-align: center;
    color: #fff;
    display: inline-block; 
}

#footer_copy{
  margin-bottom: 40px;
}


#footer_text span{
    color: white;
}

.footer_right_top{
    width: 100%;
    height: 100px;
    line-height: 50px;
    padding: 25px;
}
.footer_right_icon svg{
    width: 3em;
}

.footer_right_icon{
    width: 32%;
    color: #fff;
    text-align: center;
}

.footer_right_bottom{
    width: 100%;
    height: 100px;
    color: #fff;
    text-align: right;
    padding: 25px;

 
}

@media screen and (max-width: 805px){
    .footer_right {
        width: 50%;
    }
    .footer_left {
        display: none;
        
    }
    .footer_middle {
        width: 50%;
    }
}
@font-face { 
    font-family: 'yg-jalnan'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
 }

@font-face { font-family: 'BMJUA'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); 
    font-weight: normal; font-style: normal; }
