#modal_origin{
    /* display: none; */  /*추가버튼 안보이게*/
}

/*  class  */
.uk-card-title {
    display: inline-block;    
}

.uk-modal-dialog uk-modal-body {
    width: 600px; /*뭐 적용했는지 ?? 의도는 모달 600px?*/
}
.uk-modal-container .uk-modal-dialog {
    width: 600px; /* +눌러서 만든 모달의 크기 600px */
}
.uk-modal-title{
    text-align: center; /*모달의 타이틀 가운데 정렬*/
}
.uk-button.uk-button-primary{
    float : right; /*저장버튼 오른쪽으로 보내버림*/
}
.uk-modal-close-default.uk-close.uk-icon{
    float: right;
    position: relative; /*모달 닫기버튼 오른쪽으로 보냄*/
}
.uk-button.uk-button-default.uk-icon{
    background-color: #1e87f0; 
}
.uk-modal-title{
    font-size: 30px;
}
.uk-input, .uk-select, .uk-textarea{
    font-size: 25px;
}
.uk-button uk-button-primary{
    font-size: 15px;
}
