#footer{
    background-color:#081b30;
    /* width: 100%; */
    height: 200px;
    color:#fff;
    /* position: relative; */
}   
#footer h2{
    color: #fff;
    text-align: right;
    margin:100px 60px 50px 20px;
    width: 60%;
    display: inline;
}

#footer_text{
    width: 35%;
    display:inline-block;
}
.footer_icon{
    margin-right: 10px;
}
#footer_copy{
    text-align: center;
}
